<aside>
	<div style="background-color: #444444;" id="sidebar"  class="nav-collapse ">
		<ul class="sidebar-menu" id="nav-accordion">
			<li>
				<a href="<%= backend_index_path %>"><i class="fa fa-star-half-o"></i><span><%= @set_system.title %></span></a>
			</li>
			<li class="sub-menu">
				<a href="javascript:;" id="content_js"> <i class="fa fa-star"></i> <span>分類管理</span> </a>
				<ul class="sub" id="content_sub">
					<li >
						<a href="#"><i class="fa fa-star"></i><span>分類列表</span></a>
					</li>
				</ul>
			</li>
			<li class="sub-menu">
				<a href="javascript:;" id="content_js"> <i class="fa fa-star"></i> <span>主視覺</span> </a>
				<ul class="sub" id="content_sub">
					<li >
						<a href="#"><i class="fa fa-star"></i><span>作品集</span></a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</aside>
